.cards {
    height: 1050px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 254px;
    padding: 35px;
    background-color: #F9F9F9;
    /* background-color: blue; */
    border-bottom: 0.5px solid #CDC9C9;
}

.cardheading {
    font-size: 18px;
    }

.cardicon {
    width: 50px;
    height: 50px;
}

.cardtext {
    font-size: 14px;
}

.courtperformance {
    margin: 30px 15px 0 15px;
}

.docreview, .expattorney, .casedismiss {
    margin: 0 15px 0 15px;
}

@media (min-width:601px) and (max-width:900px) {
    .cards {
        height: 582px;
        border: 1px solid lightgray;
    }
    
    .card-content {
        display: grid;
        grid-template-columns: 380px 380px;
        width: 100%;
    }

    .card {
        height: 254px;
        border-bottom: none
    }

    .courtperformance,.docreview,.expattorney,.casedismiss {
        margin: 25px 15px 0 15px;
    }
} 

@media (min-width:900px) {
    .cards {
        height: 340px;
        width: 100%;
    } 
    
    .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }       

    .card {
        height: 275px;
        border-bottom: none;
        /* overflow: auto; */
    }

    .courtperformance {
        margin: 30px 10px 0 20px;
    }

     .docreview, .expattorney, .casedismiss {
        margin: 25px 10px 0 15px;
    }
}