.contact {
    height: 1128px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    background-image: url(../assets/contact-bg-mobile.png);
}

.contact-text {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 5% 5% 5%;
    padding: 0 5x 5px 5px;
    color: white;
}

.contact-text-one {
    font-size: 20px;
    font-weight: 400;
}

.contact-text-two {
    font-size: 13px;
    font-weight: 400;
}

.contact-phone {
    font-size: 15px;
    font-weight: 400;
    border-bottom: 2px solid #C82424;
    padding: 2%;
    width: 130px;
}

.contact-number {
    font-size: 18px;
    margin: 15px 0 15px 0;
}

.contact-social {
    font-size: 15px;
    font-weight: 400;
    border-bottom: 2px solid #C82424;
    padding: 2%;
    width: 140px;
}

.contact-social-icons {
    margin: 15px 0 15px 0;
}

.icon-container-contact {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #C82424;
    margin: 2%;
    background-color: white;
}

.custom-icon-contact {
    width: 15px;
    height: 15px;
    color: #C82424;
}






.contact-form {
    height: 500px;
    margin: 0 5% 5% 5%;
    padding: 0 5x 5px 5px;
    
}

.contact-form-text {
    color: white;
    margin-bottom: 5%;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
    gap: 20px; /* Adjust this value as needed */
    height: 100%;
}



.form-user-icon {
    display: inline-block;
    padding: 10px;
    background-color: #3F596C;
    color: white;
    width: 40px;
    height: 40px;
}

input {
    width: 100%;
    height: 40px;
}

label {
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
}

.message-box {
    margin: 5% 0 0 0;
}

textarea {
    width: 100%;
    height: 190px;
}

.contact-form-btn {
    width: 140px;
    padding: 10px;
    border-radius: 5%;
    border: none;
    background-color: #C82424;
    color: #fff;
    margin: 10% 0 0 0;
}

@media (min-width:601px) and (max-width:900px) {
    .contact {
        height: 1000px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/contact-desktop.jpeg);
        background-position: center;
        background-size: cover;
        background-color: rgba(0,0,0,0.2);
    }

    .contact-text {
        height: 500px;
    }
    
    .contact-text-one {
        margin-top: 20px;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }

    .contact-text-two {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }

    .contact-phone {
        font-size: 17px;
        font-weight: 400;
        border-bottom: 2px solid #C82424;
        width: 180px;
    }
    
    .contact-number {
        font-size: 25px;
        margin: 15px 0 15px 0;
    }

    .contact-social {
        font-size: 17px;
        font-weight: 400;
        border-bottom: 2px solid #C82424;
        width: 180px;
    }

    .contact-form {
    height: 500px;
    }

    .contact-form-text {
        font-size: 18px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; /* Adjust this value as needed */
    }

    .form-user-icon {
        width: 50px;
        height: 50px;
    }

    input {
        width: 100%;
        height: 50px;
    }

    textarea {
        width: 100%;
        height: 100px;
    }

    
}

@media (min-width:900px) {
    .contact {
        height: 727px;
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/contact-desktop.jpeg)
    }

    .contact-text {
        width: 30%;
    }

    .contact-text-one {
        font-size: 30px;
        margin-top: 20%;
    }

    .contact-text-two {
        font-size: 14px;
        margin-top: 5%;
    }

    .contact-phone-number {
        margin-top: 5%;
    }

    .contact-phone {
        font-size: 17px;
        width: 150px;
    }

    .contact-number {
        font-size: 25px;
        margin: 15px 0 15px 0;
    }

    .contact-social-media {
        margin-top: 5%;
    }

    .contact-social {
        font-size: 17px;
        width: 160px;
    }

    .contact-form-text {
        font-size: 18px;
        margin-top: 8%;
    }

    .contact-form {
        width: 70%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; /* Adjust this value as needed */
    }

    .form-user-icon {
        width: 50px;
        height: 50px;
    }
    
    input {
        width: 100%;
        height: 50px;
    }

    textarea {
        width: 100%;
        height: 200px;
    }

    .message-box {
        margin: 2% 0 0 0;
    }

    .contact-form-btn {
        margin: 5% 0 0 5%;
    }

}