footer {
    height: 1100px;
    background-color: #0F3041;
    color: white;
}

.footer-info {
    margin: 5% 5% 5% 5%;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-logo {
    background-image: url(../assets/logo-white.png);
    width: 130px;
    height: 60px;
    margin: 5% 0 5% 0;
}

.footer-text {
    font-size: 14px;
    font-weight: 400;
    margin: 5% 0 5% 0;
}

.footer-links-heading {
    font-size: 20px;
    border-bottom: 2px solid #C82424;
    padding-bottom: 2%;
    width: 30%;
    margin-top: 5%;
}

.footer-links-list ul li {
    list-style-type: none;
    margin: 5% 0 5% 0;
}

.footer-links-list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-services-heading {
    font-size: 20px;
    border-bottom: 2px solid #C82424;
    padding-bottom: 2%;
    width: 20%;
    margin-top: 5%;
}

.footer-services-list ul li {
    list-style-type: none;
    margin: 5% 0 5% 0;
}

.footer-services-list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-contact-heading {
    font-size: 20px;
    border-bottom: 2px solid #C82424;
    padding-bottom: 2%;
    width: 35%;
    margin-top: 5%;
}

.footer-contact-list ul li {
    list-style-type: none;
    margin: 5% 0 5% 0;
    font-size: 14px;
}

.footer-contact-icon {
    width: 20px;
    height: 20px;
    margin-right: 2%;
}

.footer-list-contact {
    display: flex; 
    align-items: center; 
}

.copyright {
    height: 50px;
    border-top: 0.1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0F3041;
    color: white;
    font-size: 18px;
}

@media (min-width:601px) and (max-width:900px) {
    footer {
        height: 675px;
        padding: 1px 0 1px 0;
    }

    .footer-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
    }

    .footer-links-heading {
        width: 40%;
        margin-top: 5%;
    }

    .footer-services-heading {
        width: 25%;
    }

    .footer-contact-heading {
        width: 40%;
    }
}

@media (min-width:901px) {
    footer {
        height: 500px;
        padding: 1px 0 1px 0;
    }

    .footer-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 50px;
    }
}